.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 48%;
  top: 2%;
  animation-name: logomove;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

@keyframes logomove {
  0%   {transform: rotate(0deg);}
  50%   {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}